@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200;300;400&family=Raleway:wght@200&family=Roboto+Slab:wght@300&family=Roboto:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
}


body {
    font-family: Poppins, sans-serif ;
    margin: 0;
    /* background: #b6bfe0; */
     background: url(https://images.unsplash.com/photo-1534946445127-9e89ef27bc15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
    background-size: cover;
    background-attachment: fixed;
}

a {
    color:aliceblue;
    text-decoration: none;
}



.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background: black;
    color: aliceblue;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header_section {
    display: flex;
    align-items: center;
}

.header_item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}

.header_item:hover{
    background: #9262a3;
}

.headerlogo{
    font-weight: bold;
    margin-left: 0;
}

.headerButton{
    cursor: pointer;
}

.headerlogo:hover{
    background: black;
}

.name{
  padding-top: 10%;
  padding-bottom: 10%;
  
}

.name h1{
    
    font-size: 80px;
    text-align: center;
}

.name p{
    font-size: 20px;
    padding: 40px;
    font-weight: 1000;
}

.buttom{
    display: flex;
    justify-content:center;
    
}


.btn{
    padding: 30px;
    border-radius: 20px;
    font-size: 20px;
    font-weight:bold;
    background: linear-gradient(229.99deg, #9ca2d6 -26%, #cfbb8a 145%);

}



.btn:hover{
    background: #e5cab1;
    cursor: pointer;
}


  .collectionNFT{
    /* background: url(https://images.unsplash.com/photo-1532512159380-fd23fd42795a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-size: cover; */
    /* background: linear-gradient(45deg, #645799, #d1aa8e);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite; */
   
}

@keyframes gradient {
    0%{
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
    
}

.collectionNFT h1{
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    width: 500px;
    margin: auto;
    
}

.collectionNFT p{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    width: 700px;
    margin: auto;
}

.roadMap, .faq{
    /* background: url(https://images.unsplash.com/photo-1534946445127-9e89ef27bc15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
    background-size: cover;
    background-attachment: fixed; */
}

.roadMap{
    /* background: url(https://images.unsplash.com/photo-1534946445127-9e89ef27bc15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
    background-size: cover;
    background-attachment: fixed; */
    padding: 80px;
}

.step{
    background: linear-gradient(229.99deg, #d6b7a1 -26%, #779cbf 145%);
    opacity: 0.9;
    margin-bottom: 30px;
    padding: 20px 30px 20px 10px;
    border-radius: 10px;
    
}

.step li{
    list-style-type:none;
    padding-left: 20px;
    padding-bottom: 10px;
}

.step h3{
    padding-left: 20px;
    padding-bottom: 10px;
}

.one{
    margin-left: 20%;
}

.three{
    margin-left: 20%;
}

.two{
    margin-right: 40%;
}

.roadMap h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 70px;
    padding-bottom: 20px;
    width: 500px;
    margin: auto;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
    
}

.step:hover{
    background: linear-gradient(229.99deg, #b39886 -26%, #5386a3 145%);
    
}
.faq{
    /* background: url(https://images.unsplash.com/photo-1515895309288-a3815ab7cf81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover; 
    background-attachment: fixed; */
    
}

.questions{
    margin-top: 30px;
    float: left;
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}

.quesAndVideo{
    display:flex;
    
}

.video{
    width: 120%;
    margin: auto;
    margin-left: 10%;
    
}
.question{
    /* margin: 10px;
    margin-left: 30px; */
    /* background: wheat; */
    padding: 10px 10px 10px 10px;
    /* height: 100%;
    width: 100%; */
}

details > summary {
    padding: 20px 0px 20px 10px;

    /* background-color: #a9c1cf; */
    background: linear-gradient(229.99deg, #d6b7a1 -26%, #779cbf 145%);
    opacity: 0.9;
    border-radius: 10px;
    
    color: #333;
    cursor: pointer;
}

details > div {
    border: 1px #ccc solid;
    padding: 10px;
    
}
details[open] > summary {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-end-end-radius: 0px;
    border-end-start-radius: 0px;
    color:#333; 
    /* background-color:#c4c4c4; */
    background: linear-gradient(229.99deg, #d6b7a1 -26%, #779cbf 145%);
    opacity: 0.9;
}

details > p{
    /* background: #c4c4c4;
    opacity: 0.8; */
    background: linear-gradient(229.99deg, #d6b7a1 -26%, #779cbf 145%);
    opacity: 0.9;
    color: #333;
    padding: 0px 15px 20px 10px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    background-size: auto 100%;
    
}

.faq h1{
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 700px;
    margin: auto;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
}



.collectionNFT{
    height: 100%;
    padding-bottom: 30px;
}

.collectionNFT p{
    margin-bottom: 20px;
}
.slider {
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .container {
    width: 100%;
    height: 80%;
    display: flex;
    padding: 0 20px;
  box-sizing: border-box;
}

.slide {
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    flex: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
    
}

.slide.active {
    flex: 10;
    
}

@media(max-width: 600px){
    .header{
        height: 7%;
        
    }
    .header_item{
        font-size: 10px;
        padding: 5px 5px;
    }
    .name h1{
        font-size: 50px;
        margin-top: 20px;
    }
    .name p{
        font-size: 15px;
    }
    .btn{
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
   }
   .collectionNFT p{
    width: 300px;
    font-size: 20px;
   }
   .collectionNFT h1{
    font-size: 40px;
    width: 300px
   }
   .slide{
    height: 30vh;
    margin: 5px;
   }
   .roadMap h1{
    font-size: 40px;
    width: 300px;
   }
   .step{
    /* width: 250px; */
    font-size: 12px;
    height: auto;
    
   }
  
   .faq h1{
    font-size: 40px;
    width: 300px;
   }
   .quesAndVideo{
    display: block;
   }
   .question{
    width: 100%;
   }
}


/* @import AOS from 'aos'; */
@import 'aos/dist/aos.css';